<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-4">
    <%= f.input :name %>
    <%= f.input :color, as: :fancy_color %>
    <%= f.association :team_type %>
    <%= f.input :join_permission, collection: Team.join_permissions.keys, label_method: :titleize %>
  </div>
  <div class="col-8">
    <%= f.association :people, as: :check_boxes, label_method: :display_name, collection: current_user.person.managed_people.order(last_name: :asc, first_name: :asc) %>
  </div>
</div>
