<div class="card" id="<%= dom_id team %>">
  <div class="card-header" style="background-color: <%= team.color %>;">
    <%= link_to team, style: "color: #{contrasting_color(team.color)}", "data-turbo": "false" do %>
      <%= i team.team_type.icon %> <%= team.name %>
    <% end %>
  </div>
  <div class="card-body">
    <%= pluralize team.descendant_people.count, 'member' %>
  </div>
</div>
