<% breadcrumb :teams %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo_frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Teams</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= f.input :name_cont, label: 'Name' %>
      </div>
      <div class="col">
        <%= f.input :team_type_id_eq, label: 'Team Type', as: :select, collection: TeamType.all  %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "New Team", new_team_path, class: 'btn btn-success' if policy(Team).new? %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div id="teams" class="row">
    <% @teams.each do |team| %>
      <div class="col-md-3">
        <%= render team %>
      </div>
    <% end %>
  </div>

  <%= paginate @teams %>
<% end %>
