<% breadcrumb @team %>

<div class="card mb-3">
  <div class="card-header">
    <h1><%= i @team.team_type.icon %> <%= @team.identifier_name %></h1>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-4">
        <h2>Managers</h2>
        <div class="d-flex flex-row align-items-center flex-wrap">
          <% @team.all_managers.order(display_name: :asc).each do |person| %>
            <div class="p-1 w-10">
              <%= link_to person, title: person.display_name do %>
                <%= image_tag get_avatar_url(person.avatar), class: 'person-img' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-8">
        <% if @team.parent.present? %>
          <h2>Part Of</h2>
          <%= as_badge @team.parent %>
        <% end %>
        <% if policy_scope(@team.children).any? %>
          <h2>Sub-Teams</h2>
          <div class="badge-container">
            <% @team.children.order(name: :asc).each do |child_team| %>
              <%= as_badge child_team %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <h2>Badges</h2>
          <div class="row">
            <% @team.badges.order(name: :asc).first(16).each do |badge| %>
              <div class="col-sm-3 mb-3">
                <%= link_to badge do %>
                  <%= as_badge badge %> <%= badge.identifier_name %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= link_to 'Show All Team Badges', badges_path(q: { team_id_eq: @team.id }) %>
        </div>
        <div class="mb-3">
          <h2>Pages</h2>
          <ul>
            <% @team.pages.order(created_at: :asc).last(5).each do |page| %>
              <li><%= link_to page.title, page %></li>
            <% end %>
          </ul>
          <%= link_to 'Show All Team Pages', pages_path(q: { team_id_eq: @team.id }) %>
        </div>
      </div>
      <div class="col">
        <h2>Recent Activities</h2>
        <div class="mb-3">
          <h3>Announcements</h3>
          <ul>
            <% @team.announcements.visible.each do |announcement| %>
              <li><%= link_to announcement.title, announcement %></li>
            <% end %>
          </ul>
          <%= link_to 'Show All Team Announcements', announcements_path(q: { team_id_eq: @team.id }) %>
        </div>
        <div class="mb-3">
          <h3>Events</h3>
          <ul>
            <% @team.events.order(created_at: :asc).last(5).each do |event| %>
              <li><%= link_to event.name, event %></li>
            <% end %>
          </ul>
          <%= link_to 'Show All Team Events', events_path(q: { team_id_eq: @team.id }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to 'Memberships', team_memberships_path(@team), class: 'btn btn-info' if policy(@team).edit? %>
    <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning' if policy(@team).edit? %>
    <%= link_to 'Delete', @team, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@team).destroy? %>
  </div>
</div>

<%= turbo_frame_tag "results" do %>
  <h2>People</h2>
  <div class="row mb-3">
    <% @people.each do |person| %>
      <div class="col-6 col-md-2">
        <%= render person %>
      </div>
    <% end %>

    <%= paginate @people %>
  </div>
<% end %>
