<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.input :team_id, as: :searching_combobox, label: 'Team', scope: "managed_teams", include_blank: admin?, required: !admin? %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-5">
      <%= f.input :start_time %>
    </div>
    <div class="col-12 col-md-5">
      <%= f.input :end_time %>
    </div>
    <div class="col-12 col-md-2">
      <%= f.input :notify_now, as: :boolean %>
    </div>
  </div>
  
  <%= f.input :content, wrapper_html: { class: 'code-editor' }, input_html: { rows: 6, data: { lang: "markdown" } } %>
  
  
</div>
