<% breadcrumb @announcement %>

<div class="card">
  <div class="card-header">
    <h1>
      <% if @announcement.team %>
        <%= link_to i(@announcement.team.team_type.icon), team_path(@announcement.team), class: "badge rounded-pill", style: "background-color:#{@announcement.team.color};color:#{contrasting_color(@announcement.team.color)}", "data-turbo": "false", title: "Posted in #{@announcement.team.name}" %>&nbsp;
      <% end %>
      <%= @announcement.title %>
    </h1>
  </div>
  <div class="card-body">
    <p>
      <em>Runs from <%= nice_datetime_range @announcement.start_time, @announcement.end_time %></em>
    </p>
    <%= md @announcement.content %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_announcement_path(@announcement), class: 'btn btn-warning' if policy(@announcement).update? %>
    <%= link_to 'Delete', @announcement, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@announcement).destroy? %>
  </div>
</div>
