<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <div class="row align-items-center">
    <div class="col-12 col-md-4">
      <% if f.object.persisted? || @person %>
      <label class="form-label">Person</label>
        <input disabled type="text" value="<%= f.object.person.identifier_name %>" class="form-control" />
      <% else %>
        <%= f.input :person_id, as: :searching_combobox, scope: 'managed_people' %>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <% if f.object.persisted? || @team %>
      <label class="form-label">Team</label>
        <input disabled type="text" value="<%= f.object.team.identifier_name %>" class="form-control" />
      <% else %>
        <%= f.input :team_id, as: :searching_combobox, scope: 'managed_teams' %>
      <% end %>
    </div>
    <div class="col-6 col-md-4">
      <%= f.input :manager, label: 'Manager?' %>
    </div>
  </div>
  
  
</div>
