<%= simple_form_for([@team, membership], id: dom_id(membership)) do |f| %>
  <tr>
    <td class="align-middle">
      <%= as_badge membership.person %>
    </td>
    <td class="align-middle">
      <span class="ms-lg-3 ms-sm-2 form-check">
        <%= f.check_box :manager, class: 'form-check-input' %>
      </span>
    </td>
    <td class="align-middle">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Delete', [@team, membership], class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
