<%= render "people/show_shared" %>

<div class="card">
  <div class="card-header">
    <h1><%= @person.identifier_name %></h1>
  </div>
  <div class="card-body">
    <h2>Team Memberships</h2>

    <% if @person&.user&.architect %>
      <div class="alert alert-danger">
        <span class="badge fs-3" title="Site Architect" style="background-color: black; color: #d52; border: thick solid #b21;"><%= i 'screwdriver-wrench' %></span>
        This person is an architect and has full manager access to all teams.
      </div>
    <% elsif @person&.user&.admin %>
      <div class="alert alert-warning">
        <span class="badge fs-3" title="Site Admin" style="background-color: black; color: #dd2; border: thick solid #bb1;"><%= i 'crown' %></span>
        This person is an admin and has full manager access to all teams.
      </div>
    <% end %>

    <% @memberships.each do |m| %>
      <div class="row align-items-center my-3">
        <div class="col-6 col-lg-3 fs-4 text-end">
          <div class="<%= "manager" if @person.managed_teams.include? m.team %>">
            <%= link_to as_badge(m.team), m.team %>
          </div>
        </div>
        <div class="col-md-3">
          <% if m.team.parent.present? %>
            Grants membership in:
            <% p = m.team %>
            <div class="badge-container">
              <% while p = p.parent %>
                <%= link_to as_badge(p), p %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="col-md-3">
          <% if m.manager? && m.team.children.present? %>
            Grants manager powers in:
            <div class="badge-container">
              <% m.team.children.order(name: :asc).each do |child_team| %>
                <%= link_to as_badge(child_team), child_team %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to 'Delete', [@person, m], class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(m).destroy? %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Add Membership', new_person_membership_path(@person), class: 'btn btn-info' %>
  </div>
</div>
