<%= render "teams/show_shared" %>

<h2>All People</h2>
<%= search_form_for @people_q, url: team_memberships_path(@team), data: {"controller": "turbo_search", "turbo_frame": "people_results"} do |f| %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <%= f.input :display_name_cont, label: "Name" %>
      </div>
      <div class="col-md">
        <label class="form-label" for="member_type">Membership Type</label>
        <select name="member_type" id="member_type" class="form-select">
          <option value="">All</option>
          <option value="direct" <%= "selected" if params[:member_type] == "direct" %>>Direct Members</option>
          <option value="parent_manager" <%= "selected" if params[:member_type] == "parent_manager" %>>Parent Managers</option>
          <option value="child_member" <%= "selected" if params[:member_type] == "child_member" %>>Child Team Members</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Add Member", new_team_membership_path(@team), class: "btn btn-success" %>
    <%= f.submit "Search", class: "btn btn-primary", data: { action: "turbo_search#search" } %>
    <%= link_to "Clear Search", team_memberships_path(@team), class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "people_results" do %>
  <div id="people_grid" class="row">
    <% @people.each do |person| %>
      <div class="col-6 col-md-2">
        <%= render person %>
      </div>
    <% end %>
  </div>
  <%= paginate @people, param_name: :people_page %>
<% end %>
