<% breadcrumb :memberships, @team %>

<%= search_form_for @q, url: team_memberships_path(@team), data: {"controller": "turbo_search", "turbo_frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Memberships</h1>
  </div>
  <div class="card-body">
    <%= f.input :person_display_name_cont, label: 'Name' %>
  </div>
  <div class="card-footer">
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div class="dropdown mb-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <ul class="dropdown-menu">
      <%# TODO: fix person display_name and person_birthday %>
      <li><%= sort_link @q, "people.last_name", "Last Name", class: "dropdown-item" %></li>
      <li><%= sort_link @q, "people.first_name", "First Name", class: "dropdown-item" %></li>
      <li><%= sort_link @q, "people.birthday", "Age", class: "dropdown-item" %></li>
      <li><%= sort_link @q, :manager, "Manager Status", class: "dropdown-item", default_order: :desc %></li>
      <li><%= sort_link @q, :updated_at, "Last Updated", class: "dropdown-item" %></li>
    </ul>
  </div>

  <div id="memberships">
    <div class="row bg-primary-subtle align-items-center py-1 mb-1">
      <div class="col-md">
        Person
      </div>
      <div class="col-md">
        Manager?
      </div>
      <div class="col-md">
        &nbsp;
      </div>
    </div>
    <% @memberships.each do |membership| %>
      <%= render membership %>
    <% end %>
  </div>

  <%= paginate @memberships %>
<% end %>
