<% breadcrumb :memberships, @team %>

<%= search_form_for @q, url: team_memberships_path(@team), data: {"controller": "turbo_search", "turbo_frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Memberships</h1>
  </div>
  <div class="card-body">
    <%= f.input :person_display_name_cont, label: 'Name' %>
  </div>
  <div class="card-footer">
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div class="card" id="memberships">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><h3>Person</h3></th>
            <th scope="col"><h3>Manager?</h3></th>
            <th scope="col"><h3>Actions</h3></th>
          </tr>
        </thead>
        <% @memberships.each do |membership| %>
          <%= render membership %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<%= paginate @memberships %>
