<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h2>Authorize <code><%= @pre_auth.client.name %></code></h2>
      </div>
      <div class="card-body">
        <p class="lead">
          <%= raw t('.prompt', client_name: content_tag(:strong) { @pre_auth.client.name }) %>
        </p>

        <% if @pre_auth.scopes.count > 0 %>
          <h5 class="mt-3"><%= t('.able_to') %></h5>
          <ul>
            <% @pre_auth.scopes.each do |scope| %>
              <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="d-flex gap-2 mt-4">
          <%= form_tag oauth_authorization_path, method: :post, data: { turbo: false } do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
            <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
            <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
            <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
            <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
            <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
            <%= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-primary" %>
          <% end %>

          <%= form_tag oauth_authorization_path, method: :delete, data: { turbo: false } do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
            <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
            <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
            <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
            <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
            <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
            <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
