<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-md-4">
    <div class="row mb-2">
      <div class="col">
        <input type="button" class="btn btn-light w-100" value="Loading..." id="activate-webcam">
      </div>
      <div class="col">
        <input type="button" class="btn btn-success w-100" value="Capture" id="capture-image" style="display: none">
      </div>
    </div>

    <canvas id="capture-canvas" style="display: none"></canvas>
    <img id="avatar-img" src="<%= get_avatar_url(@person.avatar) %>">
    <video id="capture-video"></video>
    
    <div class="row mt-2">
      <div class="col">
        <%= f.input :avatar, label: false %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-6 col-md-4">
        <%= f.input :first_name %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :last_name %>
      </div>
      <div class="col-12 col-md-4">
        <%= f.input :display_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <%= f.input :gender, as: :select, collection: Settings[:gender_options].split(',').map(&:strip) %>
      </div>
      <div class="col-3">
        <%= f.input :shirt_size, as: :select, collection: Settings[:shirt_sizes].split(',').map(&:strip) %>
      </div>
      <div class="col-6">
        <%= f.input :phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <%= f.input :address %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :birthday, as: :string, input_html: { type: :date } %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :dietary_restrictions %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md">
    <%= f.simple_fields_for :user do |ff| %>
      <%= ff.input :email, disabled: true %>

      <% if @person.user.provider %>
        <div class="alert alert-warning">
          This person signs in with <%= @person.user.provider %>
        </div>
      <% else %>
        <%= link_to "Edit User Information", if @person.user.id then edit_person_user_path(@person) else new_person_user_path(@person) end, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md">
    <%= f.association :teams, as: :check_boxes, label_method: :name, collection: get_joinable_teams(@person, current_user) %>
  </div>
  <div class="col-md">
    <%= f.association :badges, as: :check_boxes, label_method: :name, collection: Pundit.policy_scope(@person.user, Badge).order(name: :asc) %>
  </div>
</div>
