<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-md-4">
    <div class="row mb-2">
      <div class="col">
        <input type="button" class="btn btn-light w-100" value="Loading..." id="activate-webcam">
      </div>
      <div class="col">
        <input type="button" class="btn btn-success w-100" value="Capture" id="capture-image" style="display: none">
      </div>
    </div>

    <canvas id="capture-canvas" style="display: none"></canvas>
    <img id="avatar-img" src="<%= get_avatar_url(@person.avatar) %>">
    <video id="capture-video"></video>
    
    <div class="row mt-2">
      <div class="col">
        <%= f.input :avatar, label: false %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <%= f.input :first_name %>
      </div>
      <div class="col">
        <%= f.input :last_name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :display_name %>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <%= f.input :gender %>
          </div>
          <div class="col">
            <%= f.input :shirt_size %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md">
    <%= f.input :phone_number %>

    <%= f.input :address %>

    <%= f.input :birthday %>

    <%= f.input :dietary_restrictions %>
  </div>
  <div class="col-md">
    <%= f.association :teams, as: :check_boxes, label_method: :name, collection: get_joinable_teams(@person, current_user) %>
    <%= f.association :badges, as: :check_boxes, label_method: :name, collection: policy_scope(Badge) %>
  </div>
  <div class="col-md">
    <%= f.simple_fields_for :user do |ff| %>
      <%= ff.input :email %>

      <% if @person.user.provider %>
        <div class="alert alert-warning">
          This person signs in with <%= @person.user.provider %>
        </div>
      <% else %>
        <%= ff.input :password %>
        <%= ff.input :password_confirmation %>
      <% end %>
    <% end %>
  </div>
</div>
