<% breadcrumb :people %>

<div class="card">
  <div class="card-header">
    <h1>People</h1>
  </div>
  <div class="card-body">
    <div class="toolbox">
      <%= tool_button 'plus', 'New Person', 'btn-success', new_person_path if policy(Person).new? %>
      <%= tool_modal_button 'magnifying-glass', 'Search', 'btn-info', '#search-modal' %>
      <% Operation.where(model: 'Person', scope: 'collection').each do |operation| %>
        <%= operation_button(operation) %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="searchModalLabel">Search People</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, data: {"controller": "turbo_search", "turbo_frame": "results"} do |f| %>
          <%= f.input :display_name_cont, label: 'Name' %>
          <div class="d-flex gap-2 mt-3">
            <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
            <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag "results" do %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <ul class="dropdown-menu">
      <li><%= sort_link @q, :last_name, "Last Name", class: "dropdown-item" %></li>
      <li><%= sort_link @q, :first_name, "First Name", class: "dropdown-item" %></li>
      <li><%= sort_link @q, :birthday, "Age", class: "dropdown-item" %></li>
      <li><%= sort_link @q, :updated_at, "Last Updated", class: "dropdown-item" %></li>
    </ul>
  </div>

  <div id="people" class="row">
    <% @people.each do |person| %>
      <div class="col-md-3">
        <%= render person %>
      </div>
    <% end %>
  </div>

  <%= paginate @people %>
<% end %>
