<% breadcrumb :new, 'person' %>

<%= simple_form_for(@person) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>New person</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-md-4">
        <%= f.input :first_name %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :last_name %>
      </div>
      <div class="col-12 col-md-4">
        <%= f.input :email, hint: 'Leave blank to create a person without a user' %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", people_path, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
