<%= render "show_shared" %>

<div class="card">
  <div class="card-header">
    <h1><%= @person.identifier_name %></h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <%= image_tag get_avatar_url(@person.avatar), class: 'person-img' %>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <p><b>Email: </b><%= if @person.user.nil? then "This person doesn't have a user attached." else @person.user.email end %></p>
        <p><b>Phone: </b><%= @person.phone_number %></p>
        <p><b>Birthday: </b><%= nice_date(@person.birthday) %></p>
        <p><b>Address: </b><%= @person.address %></p>
        <p><b>Dietary Restrictions: </b><%= @person.dietary_restrictions %></p>
        <p><b>Shirt Size: </b><%= @person.shirt_size %></p>
        <p><b>Gender: </b><%= @person.gender %></p>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <% if @teams.any? %>
          <div class="mb-3">
            <h3>Teams</h3>
            <div class="badge-container">
              <% @teams.each do |team| %>
                <div class="<%= "manager" if @person.managed_teams.include? team %>">
                <%= link_to as_badge(team), team, class: "undecorated" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @badges.any? || @person.user&.admin? %>
          <div class="mb-3">
            <h3>Badges</h3>
            <div class="row">
              <% if @person.user&.architect? %>
                <div class="col-4 col-xl-2 mb-3 fs-3 justify-content-center">
                  <span class="badge" title="Site Architect" style="background-color: black; color: #d52; border: thick solid #b21;"><%= i 'screwdriver-wrench' %></span>
                </div>
              <% elsif @person.user&.admin? %>
                <div class="col-4 col-xl-2 mb-3 fs-3 justify-content-center">
                  <span class="badge" title="Site Admin" style="background-color: black; color: #dd2; border: thick solid #bb1;"><%= i 'crown' %></span>
                </div>
              <% end %>

              <% @badges.each do |badge| %>
                <div class="col-4 col-xl-2 mb-3 fs-3 justify-content-center">
                  <%= link_to as_badge(badge), badge, class: 'undecorated' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @tokens.any? %>
          <div class="mb-3">
            <h3>Tokens</h3>
            <% policy_scope(@person.tokens).each do |token| %>
              <%= link_to as_badge(token), token, class: 'undecorated' %>
            <% end %>
          </div>
        <% end %>

        <% if @ledgers.any? %>
          <div class="mb-3">
            <h3>Ledgers</h3>
            <% @ledgers.each do |ledger| %>
              <%= link_to as_badge(ledger), ledger, class: 'undecorated' %>
            <% end %>
          </div>
        <% end %>

        <% if @relationships.any? %>
          <div class="mb-3">
            <h3>Relationships</h3>
            <% @relationships.each do |relationship| %>
              <%= as_badge relationship, @person %>
            <% end %>
          </div>
        <% end %>

        <% if @time_clocks %>
          <div class="mb-3">
            <h3>Time Clock Punches</h3>
            <% @time_clocks.each do |period, hours| %>
              <%= person_time_clock_as_badge @person, hours.round(2), period %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Impersonate", impersonate_person_path(@person), data: { turbo_method: :post }, class: 'btn btn-dark' if @person.user.present? && policy(@person).impersonate? %>
    <%= link_to 'Edit Profile', edit_person_path(@person), class: 'btn btn-warning' if policy(@person).update? %>
    <% if @person.user&.id %>
      <%= link_to "Change Email/Password", edit_person_user_path(@person), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Create Email/Password", new_person_user_path(@person), class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'Delete', @person, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@person).destroy? %>
  </div>
</div>
