<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.association :event_type %>
  <%= f.input :name %>
  <%= f.input :permission, as: :select, collection: CheckinField.permissions.keys, label_method: :titleize, include_blank: false %>
</div>
