<% breadcrumb :checkin_fields %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Checkin fields</h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "New checkin field", new_checkin_field_path, class: 'btn btn-success' %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div id="checkin_fields" class="row">
    <% @checkin_fields.each do |checkin_field| %>
      <div class="col-md-3">
        <%= render checkin_field %>
      </div>
    <% end %>
  </div>

  <%= paginate @checkin_fields %>
<% end %>
