<!DOCTYPE html>
<html>
<head>
  <title><%= Settings[:title] %> | Authorization</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col px-md-4">
        <div class="mt-3">
          <% flash.each do |type, value| %>
            <div class="alert alert-dismissible fade show" role="alert">
              <%= value %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        </div>

        <main class="mt-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
