<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-md-6">
    <%= f.input :name %>
    <div class="row">
      <div class="col-6">
        <%= f.input :color, as: :fancy_color %>
      </div>
      <div class="col-6">
        <%= f.input :short, as: :icon %>
      </div>
    </div>
    <%= f.input :description %>
  </div>
  <div class="col-md-6">
    <%= f.association :badge_type %>
    <%= f.input :team_id, as: :searching_combobox, label: 'Team', scope: "teams", include_blank: admin? %>
    <%= f.input :permission, as: :select, collection: Badge.permissions.keys, label_method: :titleize, include_blank: false %>
  </div>
</div>
