<% breadcrumb @badge %>

<div class="card">
  <div class="card-header">
    <h1><%= as_badge @badge %> <%= @badge.identifier_name %></h1>
  </div>
  <div class="card-body">
    <%= @badge.description %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_badge_path(@badge), class: 'btn btn-warning' if policy(@badge).edit? %>
    <%= link_to 'Assign People', badge_badge_assignments_path(@badge), class: 'btn btn-info' if policy(@badge.badge_assignments.build).create? %>
    <%= link_to 'Delete', @badge, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@badge).destroy? %>
  </div>
</div>

<h2>People</h2>
<div class="row">
  <% policy_scope(@badge.people).order(last_name: :asc, first_name: :asc).each do |person| %>
    <div class="col-6 col-md-2">
      <%= render person %>
    </div>
  <% end %>
</div>
    