<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.association :relationship_type %>
  <%= f.association :parent, label_method: :display_name %>
  <%= f.association :child, label_method: :display_name %>
</div>
