<% breadcrumb :relationship, @person %>

<%= simple_form_for([@person, @relationship]) do |f| %>
  <div class="card">
  <div class="card-header">
    <h1>New Relationship</h1>
  </div>
  <div class="card-body">
    <%= f.input :start_node, as: :select, label: "Who is #{@person.identifier_name} in relation to the other person?", collection: policy_scope(RelationshipNode), label_method: :to_s, value_method: :to_id %>

    <% if @relationship.relationship_type %>
      <div class="row">
        <div class="col-12 col-md-6">
          <% if @relationship.node_occupant == @relationship.parent %>
            <%= f.association :parent, label: @relationship.relationship_type.parent_label, label_method: :identifier_name, collection: policy_scope(Person.where(id: @relationship.parent.id)), disabled: true %>
          <% else %>
            <%= f.input :parent_id, as: :searching_combobox, label: @relationship.relationship_type.parent_label, scope: 'people' %>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <% if @relationship.node_occupant == @relationship.child %>
            <%= f.association :child, label: @relationship.relationship_type.child_label, label_method: :identifier_name, collection: policy_scope(Person.where(id: @relationship.child.id)), disabled: true %>
          <% else %>
            <%= f.input :child_id, as: :searching_combobox, label: @relationship.relationship_type.child_label, scope: 'people' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", @person, class: 'btn btn-warning' %>
    <%= f.button :submit, (@relationship.relationship_type ? 'Create Relationship' : 'Continue'), class: 'btn btn-primary' %>
  </div>
</div>
<% end %>