<% breadcrumb :relationship, @person %>

<%= simple_form_for([@person, @relationship]) do |f| %>
  <div class="card">
  <div class="card-header">
    <h1>New Relationship</h1>
  </div>
  <div class="card-body">
    <%= f.label :start_node, "Who is #{@person.identifier_name} in relation to the other person?" %>
    <%= f.select :start_node, policy_scope(RelationshipNode).map { |n| [ n.to_s, n.to_id ] }, { include_blank: true }, { data: { controller: "slim" } } %>

    <% if @relationship.relationship_type %>
      <div class="row mt-2">
        <div class="col-12 col-md-6">
          <%= f.label :parent_id, @relationship.relationship_type.parent_label %>
          <%= f.select :parent_id, policy_scope(Person).map { |p| [ p.identifier_name, p.id ] }, { include_blank: true }, { disabled: @relationship.node_occupant == @relationship.parent, data: { controller: "slim" } } %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.label :child_id, @relationship.relationship_type.child_label %>
          <%= f.select :child_id, policy_scope(Person).map { |p| [ p.identifier_name, p.id ] }, { include_blank: true }, { disabled: @relationship.node_occupant == @relationship.child, data: { controller: "slim" } } %> <%# TODO: fix validations %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", @person, class: 'btn btn-warning' %>
    <%= f.button :submit, (@relationship.relationship_type ? 'Create Relationship' : 'Continue'), class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
