<div class="row fullscreen">
  <div class="col-12">
    <div class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</a></div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.input :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Sign In or Sign Up With Another Account</h2>
      </div>
      <div class="card-body">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
