<%= search_form_for @q do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Tokens</h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "New token", new_token_path, class: 'btn btn-success' %>
    <%= f.submit 'Search', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

<div id="tokens" class="row">
  <% @tokens.each do |token| %>
    <div class="col-md-3">
      <%= render token %>
    </div>
  <% end %>
</div>

<%= paginate @tokens %>
