<% breadcrumb @shortcut %>

<%= simple_form_for(@shortcut) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Editing <%= @shortcut.identifier_name %></h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", @shortcut, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
