<% breadcrumb :setup %>

<div class="card">
  <div class="card-header">
    <h2>Setup Tools</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Team Types', team_types_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Badge Types', badge_types_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Event Types', event_types_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Relationship Types', relationship_types_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Settings', settings_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>