<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-6">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :location %>
    <%= f.input :locked %>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <%= f.association :event_type %>
      </div>
      <div class="col">
        <%= f.input :time_clock_period_nid, as: :searching_combobox, label: 'Time Clock Period', scope: "time_clock_periods", include_blank: true %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :team_nid, as: :searching_combobox, label: 'Team', scope: "managed_teams", include_blank: admin? %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :checkin_limit %>
      </div>
    </div>
  </div>
</div>
