<% breadcrumb :events %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo_frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Events</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= f.input :name_i_cont, label: 'Name' %>
      </div>
      <div class="col">
        <%= f.input :location_i_cont, label: 'Location' %>
      </div>
      <div class="col">
        <%= f.input :event_type_id_eq, label: 'Event Type', as: :select, collection: EventType.all %>
      </div>
      <div class="col">
        <%= f.input :team_id_eq, label: 'Teams', as: :select, collection: policy_scope(Team) %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "New Event", new_event_path, class: 'btn btn-success' if policy(Event).new? %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div class="card">
    <div class="card-body">
      <div data-controller="calendar" data-calendar-events-value="<%= @events.as_json(include: { team: { only: %i[ name color ], include: { team_type: { only: :icon } } } }).to_json %>">
        <div id="calendar" data-turbo="false">
        </div>
      </div>
    </div>
  </div>
<% end %>
