<%= search_form_for @q do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Events</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= f.input :name_i_cont, label: 'Name' %>
      </div>
      <div class="col">
        <%= f.input :location_i_cont, label: 'Location' %>
      </div>
      <div class="col">
        <%= f.input :event_type_id_eq, label: 'Event Type', as: :select, collection: EventType.all %>
      </div>
      <div class="col">
        <%= f.input :team_id_eq, label: 'Teams', as: :select, collection: policy_scope(Team) %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "New event", new_event_path, class: 'btn btn-success' if policy(Event).create? %>
    <%= f.submit 'Search', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

<div id="events" class="row">
  <% @events.each do |event| %>
    <div class="col-md-3">
      <%= render event %>
    </div>
  <% end %>
</div>

<%= paginate @events %>
