<% breadcrumb @event %>

<div class="card">
  <div class="card-header">
    <h1><%= @event.identifier_name %></h1>
  </div>
  <div class="card-body">
    When: <%= format_event_time_date(@event, :long_ordinal, false) %><br>
    <%= @event.location != "" ? "Where: " + @event.location : "" %>

    <%= @event.description %>
  </div>
  <% if policy(@event).update? || policy(@event).destroy? %>
    <div class="card-footer">
      <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' if policy(@event).update? %>
      <%= link_to 'Delete', @event, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(@event).destroy? %>
    </div>
  <% end %>
</div>

<%= render "checkins/checkins", q: @q, checkins: @checkins, event: @event %>