<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <div class="row">
    <div class="col-12 col-md-3">
      <%= f.input :remark %>
    </div>
    <% if f.object.split? %>
      <div class="col-8 col-md-4">
        <%= label_tag :split_amount, 'Total Amount', class: 'form-label' %>
        <%= text_field_tag :split_amount, f.object.amount, readonly: true, class: 'form-control disabled'%>
      </div>
      <div class="col-4 col-md-2">
        <% if f.object.fully_split? %>
          <%= label_tag :split_diff, 'Split Complete', class: 'form-label' %>
          <%= text_field_tag :split_diff, '-', readonly: true, class: 'form-control disabled' %>
        <% else %>
          <%= label_tag :split_diff, 'Split Off By', class: 'form-label' %>
          <%= text_field_tag :split_diff, f.object.split_difference, readonly: true, class: 'form-control disabled' %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-6">
        <% if f.object.transfer_mirror %>
          <%= f.input :amount, input_html: { value: -f.object.amount}, label: 'Transferred Amount', as: :currency %>
        <% else %>
          <%= f.input :amount, as: :currency %>
        <% end %>
      </div>
    <% end %>
    <div class="col-12 col-md-3">
      <%= f.input :approved %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <%= f.input :receipts, input_html: { multiple: true } %>
      <% f.object.receipts.each do |receipt| %>
        <div class="row my-2 align-items-center">
          <div class="col-6 col-md-3 col-lg-2">
            <%= image_tag receipt, class: 'receipt-preview' %>
          </div>
          <div class="col">
            <%= f.hidden_field :receipts, multiple: true, value: receipt.signed_id %>
            <a class="remove-receipt-button btn btn-sm btn-danger" ><%= i 'trash' %></a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <% if !f.object.split? %>
        <%= f.association :ledger_tags, as: :check_boxes, label_method: ->(tag) { as_badge tag }, label: 'Tags' %>
      <% end %>
    </div>
  </div>

  <% if f.object.split? %>
    <%= f.simple_fields_for :child_entries do |ff| %>
      <div class="row align-items-center">
        <div class="col-6 col-md-3">
          <%= ff.input :id, as: :hidden %>
          <%= ff.input :remark %>
        </div>
        <div class="col-6 col-md-2">
          <%= ff.input :amount %>
        </div>
        <div class="col-11 col-md-6">
          <%= ff.association :ledger_tags, as: :check_boxes, label_method: ->(tag) { as_badge tag }, label: 'Tags' %>
        </div>
        <div class="col-1">
          <%= ff.input :_destroy, as: :boolean, label: 'Remove' %>
        </div>
      </div>
    <% end %>
  <% end %>

  
</div>

<script>
  document.body.querySelector('.remove-receipt-button').addEventListener('click', (e) => {
    var parent = e.target.parentElement;
    while(!parent.classList.contains('row')) {
      parent = parent.parentElement;
    }
    parent.remove();
  })
</script>
