<div class="card" id="<%= dom_id ledger_entry %>-card">
  <div class="card-header">
    <h1>Entry Posted at <%= nice_datetime ledger_entry.created_at %></h1>
  </div>
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <div class="fs-4">
          <%= ledger_entry.remark %>
        </div>

        <div>
          <% if ledger_entry.approved %>
            <%= i 'check-to-slot' %> Approved
          <% else %>
            <%= i 'eye' %> Needs Approved
          <% end %>
        </div>

        <div class="fs-3">
          <%= as_currency ledger_entry.amount %>
        </div>

        <% if ledger_entry.split? %>
          <% if !ledger_entry.fully_split? %>
            <%= i 'triangle-exclamation' %> Split off by <%= as_currency ledger_entry.split_difference %>!
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <dl>
          <% if ledger_entry.parent.present? %>
            <dt>Part of</dt>
            <dd><%= as_badge ledger_entry.created_by %></dd>
          <% else %>
            <dt>Posted to</dt>
            <dd><%= as_badge ledger_entry.ledger %></dd>
            <dt>Posted by</dt>
            <dd><%= as_badge ledger_entry.created_by %></dd>
          <% end %>

          <% if (ledger_entry.updated_at - ledger_entry.created_at) > 60  %>
            <dt>Last Updated At</dt>
            <dd><%= nice_datetime ledger_entry.updated_at %></dd>
          <% end %>
          <dt>Tags</dt>
        </dl>
        <div class="badge-container">
          <% ledger_entry.ledger_tags.each do |tag| %>
            <%= as_badge tag %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <% if !ledger_entry.parent.present? %>
      <% if ledger_entry.split? %>
        <%= link_to "Unsplit", unsplit_ledger_ledger_entry_path(ledger_entry.ledger, ledger_entry), class: 'btn btn-dark', data: { turbo_method: 'POST' } if policy(ledger_entry).edit? %>
      <% else %>
        <%= link_to "Split", split_ledger_ledger_entry_path(ledger_entry.ledger, ledger_entry), class: 'btn btn-sm btn-dark', data: { turbo_method: 'POST' } if policy(ledger_entry).edit? %>
      <% end %>
      <%= link_to 'Edit', edit_ledger_ledger_entry_path(ledger_entry.ledger, ledger_entry), class: 'btn btn-warning' if policy(ledger_entry).update? %>
    <% end %>
    
    <%= link_to 'Delete', [ledger_entry.ledger, ledger_entry], class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(ledger_entry).destroy? %>
  </div>
</div>