<% breadcrumb :ledger_tags %>

<%= search_form_for @q, data: { "controller": "turbo_search", "turbo-frame": "results" } do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Ledger tags</h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "New Ledger Tag", new_ledger_tag_path, class: 'btn btn-success' %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By
    </button>
    <ul class="dropdown-menu">
      <li><%= sort_link @q, :updated_at, "Last Updated", class: "dropdown-item" %></li>
    </ul>
  </div>

  <div id="ledger_tags" class="row">
    <% @ledger_tags.each do |ledger_tag| %>
      <div class="col-md-3">
        <%= render ledger_tag %>
      </div>
    <% end %>
  </div>

  <%= paginate @ledger_tags %>
<% end %>
