<% breadcrumb @gateway %>

<div class="card">
  <div class="card-header">
    <h1><%= @gateway.identifier_name %></h1>
  </div>
  <div class="card-body">
    <h2>Configuration</h2>
    <code data-lang="json"><pre><%= JSON.pretty_generate @gateway.configuration %></pre></code>

    <h2>Webhook URL</h2>
    <code data-lang="md"><pre><%= webhook_gateway_url(@gateway) %></pre></code>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_gateway_path(@gateway), class: 'btn btn-warning' %>
    <%= link_to 'Delete', gateway_path(@gateway), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% @gateway.routes.each do |route| %>
      <%= link_to route[:name], route[:path], class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
