<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.association :person, label_method: :identifier_name, collection: [ current_user.person, current_user.person.managed_people ].flatten.uniq %>
  <%= f.association :time_clock_period, collection: policy_scope(TimeClockPeriod) %>
  <%= f.input :note %>
</div>
