<% breadcrumb :time_clock_punches %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Time Clock</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <% if params['q']['person_id_eq'] %>
          <%= f.input :person_id_eq, label: 'Person', as: :select, collection: policy_scope(Person), label_method: :identifier_name %>
        <% else %>
          <%= f.input :person_display_name_cont, label: 'Person' %>
        <% end %>
      </div>
      <div class="col">
        <%= f.input :start_time_gteq, label: 'Starting After', input_html: { type: "datetime-local" } %>
      </div>
      <div class="col">
        <%= f.input :end_time_lteq, label: 'Ending Before', input_html: { type: "datetime-local" }  %>
      </div>
      <div class="col">
        <%= f.input :time_clock_period_id_eq, label: 'Periods', as: :select, collection: policy_scope(TimeClockPeriod) %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "New Time Clock Punch", new_time_clock_punch_path, class: 'btn btn-success' %>
    <%= link_to "Time Clock Periods", time_clock_periods_path, class: 'btn btn-info' %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div class="row">
    <div class="col">
      <%= render "time_clock_punches" %>
    </div>
  </div>
  <%= paginate @time_clock_punches %>
<% end %>

