<div class="card">
  <div class="card-header">
    <h2 class="card-title">Found Person</h2>
  </div>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="col-3">
        <%= image_tag get_avatar_url(@person.avatar), class: 'person-img' %>
      </div>
      <div class="col-6">
        <h3 class="display-3"><%= @person.identifier_name %></h3>
        <% if @person.manager? %>
          <div class="toolbox justify-content-around">
            <%= tool_modal_button 'triangle-exclamation', "Manager", "btn-info", "managerModal" %>
          </div>

        <div class="modal modal-xl fade" id="managerModal" tabindex="-1" aria-labelledby="managerModalLabel" aria-hidden="true" data-controller="modal-form" data-modal-form-target="modal">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title fs-5" id="managerModalLabel">Time Management</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% @time_kiosk.managed_periods.each do |period| %>
                    <div class="row align-items-center">
                      <div class="col-3">
                        <%= period.name %> [<%= period.open_punches.count %>]
                      </div>
                      <div class="col-7">
                        <div class="d-flex flex-row flex-wrap">
                          <% period.open_punches.includes(:person).each do |punch| %>
                            <%= image_tag get_avatar_url(punch.person.avatar), class: 'person-img p-1', style: 'width: 3rem; height: 3rem;' %>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-2">
                        <%= tool_button 'clock', "Clock Out", "btn-warning", time_kiosk_path(time_kiosk: { tool: "punch_out_period", time_clock_period_id: period.id }), method: :post %>
                      </div>
                    </div>
                  <% end %>
                  <% if @time_kiosk.managed_periods.many? %>
                  <div class="row align-items-center">
                      <div class="col-10 text-end fs-4 fw-bold">
                        All Periods [<%= @time_kiosk.managed_periods.sum { |p| p.open_punches.count } %>]
                      </div>
                      <div class="col-2">
                        <%= tool_button 'clock', "Clock Out", "btn-warning", time_kiosk_path(time_kiosk: { tool: "punch_out_all" }), method: :post %>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <% if @time_clocks.present? %>
          <dl>
            <% @time_clocks.each do |period, hours| %>
              <dt class="fs-4">
                <%= period.name %>
              </dt>
              <dd class="fs-3 ms-3">
                <%= hours.round(2) %>
              </dd>
            <% end %>
          </dl>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Clock In</h3>
        <div class="toolbox">
          <% @time_clock_periods.each do |p| %>
            <%= tool_button 'clock', p.name, "btn-primary w-100 my-2", time_kiosk_path(time_kiosk: { tool: "punch_in", person_id: @person.id, time_clock_period_id: p.id }), method: :post %>
          <% end %>
          <%= tool_button 'clock', "Start Unassigned", "btn-secondary w-100 my-2", time_kiosk_path(time_kiosk: { tool: "punch_in", person_id: @person.id, time_clock_period_id: nil }), method: :post %>
        </div>
      </div>
      <div class="col-8 text-end">
        <% if @open_punches.any? %>
          <h3>Open Punches</h3>
          <% @open_punches.each do |punch| %>
            <div class="row align-items-center my-2">
              <div class="col">
                <dl>
                  <dt class="fs-4">
                    <%= punch.time_clock_period.name %>
                  </dt>
                  <dd class="fs-3 ms-3">
                    <%= punch.hours_so_far.round(2) %>
                  </dd>
                </dl>
              </div>
              <div class="col">
                <%= tool_button 'clock', "Clock Out", "btn-warning", time_kiosk_path(time_kiosk: { tool: "punch_out", time_clock_punch_id: punch.id }), method: :post %>
              </div>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>

    
  </div>
</div>