<%= turbo_frame_tag "kiosk" do %>
  <%= simple_form_for :time_kiosk do |f| %>
    <div class="card">
      <div class="card-header">
        <h1>New time kiosk</h1>
      </div>
      <div class="card-body">
        <%= f.input :token_id, autofocus: true, disabled: !@accept_input %>
      </div>
    </div>
  <% end %>

  <% @message.each do |type, msg| %>
    <div class="alert alert-<%= type %>" role="alert">
      <%= msg %>
    </div>
  <% end %>

  <% if @time_clock_periods && @time_clock_periods.length > 1 %>
    <%= render partial: "period_select_form" %>
  <% end %>
<% end %>
