<% breadcrumb :new, "time kiosk" %>

<%= turbo_frame_tag "kiosk" do %>
  <%= simple_form_for :time_kiosk do |f| %>
    <div class="card">
      <div class="card-header">
        <h1>New time kiosk</h1>
      </div>
      <div class="card-body">
        <%= f.input :token_id, autofocus: true, disabled: !@accept_input %>
      </div>
    </div>
  <% end %>

  <% if @message %>
    <div class="alert alert-info" role="alert">
      <%= @message %>
    </div>
  <% end %>

  <% if @token %>
    <%= render @token %>
  <% end %>
<% end %>
