<% breadcrumb :new, "time kiosk" %>

<%= turbo_frame_tag "kiosk" do %>
  <%= simple_form_for :time_kiosk do |f| %>
    <div class="card">
      <div class="card-header">
        <h1>New time kiosk</h1>
      </div>
      <div class="card-body">
        <%= f.input :token_id, autofocus: true %>
      </div>
    </div>
  <% end %>

  <% if @token %>
    <% if @token.tokenable_type == "Hook" %>
      <div class="alert alert-info" role="alert">
        <%= @hook_msg %>
      </div>
    <% else %>
      <%= render @token %>
    <% end %>
  <% end %>
<% end %>
