<% breadcrumb :time_clock_periods %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Time clock periods</h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "New time clock period", new_time_clock_period_path, class: 'btn btn-success' %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div id="time_clock_periods" class="row">
    <% @time_clock_periods.each do |time_clock_period| %>
      <div class="col-md-3">
        <%= render time_clock_period %>
      </div>
    <% end %>
  </div>

  <%= paginate @time_clock_periods %>
<% end %>
