<% breadcrumb @time_clock_period %>

<div class="card">
  <div class="card-header">
    <h1><%= @time_clock_period.identifier_name %></h1>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr class="table-primary">
        <th scope="col"><h3>Person</h3></th>
        <th scope="col"><h3>Start Time</h3></th>
        <th scope="col"><h3>End Time</h3></th>
        <th scope="col"><h3>Hours</h3></th>
        <th scope="col"><h3>Period</h3></th>
        <% if current_user.person.manager? %>
          <th scope="col"><h3>Actions</h3></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @time_clock_punches.order(end_time: :desc).each do |time_clock_punch| %>
        <%= render time_clock_punch %>
      <% end %>
      <% unless @time_clock_punches.present? %>
        <tr>
          <td colspan=<%= current_user.person.manager? ? "6" : "5" %>>No time clock punches found.</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to 'Back to Time Clock', time_clock_punches_path, class: 'btn btn-success' %>
    <%= link_to 'Edit', edit_time_clock_period_path(@time_clock_period), class: 'btn btn-warning' %>
    <%= link_to 'Delete', @time_clock_period, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
