<div class="card">
  <div class="card-header">
    <h1><%= @variable.identifier_name %></h1>
  </div>
  <div class="card-body">
    <% if @variable.klass == 'structure' %>
      <code><pre><%= JSON.pretty_generate @variable.value %></pre></code>
    <% else %>
      <%= @variable.value %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_variable_path(@variable), class: 'btn btn-warning' %>
    <%= link_to 'Delete', @variable, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
