<%= search_form_for q, url: event_url, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h3>Search People</h3>
  </div>
  <div class="card-body">
      <div class="col">
        <%= f.input :person_display_name_cont, label: 'Name' %>
      </div>
  </div>
  <div class="card-footer">
    <% if policy(@checkin).create? %>
      <%= link_to "Check Someone In", new_event_checkin_path(event), class: 'btn btn-success' %>
    <% else %>
      <div class="btn btn-success disabled">Check In Locked</div>  
    <% end %>

    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<h2 class="mt-3">Checkins (<%= @event.checkins.count %><% if @event.checkin_limit.present? && @event.checkin_limit > 0 %>/<%= @event.checkin_limit %><% end %>)</h2>
<%= turbo_frame_tag "results" do %>
  <div id="checkins" class="row">
    <% checkins.each do |checkin| %>
      <div class="col-6 col-md-2">
        <%= render checkin %>
      </div>
    <% end %>
  </div>

  <%= paginate checkins %>
<% end %>
