<%= search_form_for q, url: event_url, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h3>Search people</h3>
  </div>
  <div class="card-body">
      <div class="col">
        <%= f.input :person_display_name_cont, label: 'Name' %>
      </div>
  </div>
  <div class="card-footer">
    <% if event.locked %>
      <div class="btn btn-success disabled">Checkin</div>  
    <% else %>
      <%= link_to "Checkin", new_event_checkin_path(event), class: 'btn btn-success' %>
    <% end %>

    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div id="checkins" class="row">
    <% checkins.each do |checkin| %>
      <div class="col-md-3">
        <%= render checkin %>
      </div>
    <% end %>
  </div>

  <%= paginate checkins %>
<% end %>
