<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.association :person, collection: policy_scope(Person), label_method: :display_name, include_blank: false %>
  <%= f.input :notes %>
  <%= f.simple_fields_for :checkin_field_responses do |ff| %>
    <%= ff.hidden_field :checkin_field_id %>
    <%= ff.input :response, label: ff.object.checkin_field.name, disabled: !ff.object.permission_check(current_user.person) %>
  <% end %>
</div>
