<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :parent_label %>
  <%= f.collection_check_boxes :parent_permissions, node_permissions, :downcase, :humanize %>
  <%= f.input :child_label %>
  <%= f.collection_check_boxes :child_permissions, node_permissions, :downcase, :humanize %>
  <%= f.input :permission, as: :select, collection: RelationshipType.permissions.keys, label_method: :titleize, include_blank: false %>
</div>
