<% breadcrumb :relationship_types %>

<%= search_form_for @q, data: {"controller": "turbo_search", "turbo-frame": "results"} do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Relationship types</h1>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer">
    <%= link_to "New Relationship Type", new_relationship_type_path, class: 'btn btn-success' %>
    <%= f.submit 'Search', class: 'btn btn-primary', data: { action: "turbo_search#search" } %>
    <%= link_to 'Clear Search', request.path, class: "btn btn-dark", data: { action: "turbo_search#clear" } %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "results" do %>
  <div id="relationship_types" class="row">
    <% @relationship_types.each do |relationship_type| %>
      <div class="col-md-3">
        <%= render relationship_type %>
      </div>
    <% end %>
  </div>

  <%= paginate @relationship_types %>
<% end %>
