<% breadcrumb @operation %>

<%= simple_form_for(@operation) do |f| %>
<div class="card">
  <div class="card-header">
    <h1>Editing <%= @operation.identifier_name %></h1>
  </div>
  <div class="card-body">
    <%= render "form", f: f %>
  </div>
  <div class="card-footer">
    <%= link_to "Cancel", @operation, class: 'btn btn-warning' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
